@font-face{
    font-family: Rufina-Bold;
    src: url(../fonts/Rufina-Bold.ttf);
}
@font-face{
    font-family: Rufina-Regular;
    src: url(../fonts/Rufina-Regular.ttf);
}
@font-face{
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf); 
}